header {
    background-color: whitesmoke;
    padding-left: 138px;
    // margin-left: 138px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    // flex-direction: row;

    @media screen and (max-width:400px){
        padding-left: 0px;
        
    }

    
    .logo_menu{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        // flex-direction: row;
        
        @media screen and (max-width:400px){
            display: block;
            
        }
        
        .logo{
            
            img{
                width: 100px;
                margin-right: 100px;
                padding: 10px;

            }
        }
        
        .menu{
            // padding: 16px;
            // margin: 16px;
            a {
                // padding: 10px;
                // border: 2px solid gray;
                margin: 0px 15px;
                cursor: pointer;
                // background-color: green;
                @media screen and (max-width:400px){
                    margin: 10px;
                    
                }
            }
        }

        
        
    }

    .contact{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        width: 200px;
        height: 100%;
        padding: 10;
        
        @media screen and (max-width:400px){
            display: none;
            
        }
    }
}

.mainvisual {
    margin-bottom: 120px;
}


